NODE_ENV=local
PORT=2026
HOST=http://localhost:2026

# Security
JWT_ISSUER=http://localhost:2026
JWT_SECRET=
REFRESH_JWT_SECRET=
APP_KEY_SECRET=
JWT_SECRET=
API_GATEWAY_PUBLIC_KEY=

# Database local
PG_HOST=localhost
PG_PORT=5432
PG_USERNAME=postgres
PG_PASSWORD=
PG_DATABASE=

# Redis
REDIS_URL="redis://localhost:6379"

# CORS
ALLOWED_ORIGINS=http://localhost:3000

# Sendmail with Mailtrap
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_FROM_ADDRESS=
MAIL_PORT=2525
MAIL_SECURE=false
MAIL_PROVIDER=smtp

GOOGLE_WEB_CLIENT_ID=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=
FRONTEND_URL=http://localhost:3000
